.turned-on-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .color-bar {
        height: 10px;
        width: 30px;
        border-radius: 6px;
        border: 1px solid black;
      }
}


