$bg-color: #ecf0f3;
$primary-color: #e3e6ec;
$secondary-color: #8cbaff;
$dark-shadow-color: #d1d9e6;
$success-color: #60EF60;
$fail-color: #EE4242;
$warning-color: #FFC909;

.App {
  text-align: center;
  background-color: $bg-color;
}

